body {
	background-color: #ADC6E9    ;
	font-family: Verdana;
	margin: 1cm;
	font-size: 100%;
	text-align: left ;
}

header {
	position: static ;
	text-align: center;
	top: 80px;
	background-color: #ADC6E9 ;
	color: #40403F  ;
	font-size: 200%;
}

h1{
	margin: 1cm;
	font-size: 160%;

	}

main{
	display: block;
	margin: 1cm;
}

h2{
	margin: 1cm;
	color: #030754  ;
	font-size: 160%;
	text-align: center;
	border-style: solid;
	border-width: 0.1cm;
	border-radius: 2cm;
	border-color: #AA0101  ;
	padding-bottom: 0.2cm;
	padding-left: 1cm;
	background-color: #E8E8E8
}

article{
		
	border-radius:  1cm;
	margin: 1cm;
	padding-bottom: 0.5cm ;
	background-color: ;

}

h3{
	border-top-left-radius: 1cm;
	border-top-right-radius: 1cm;
	margin: 1cm;
	padding-left: 1cm;
	color: #030754  ;
	font-size: 150%;
	text-align: left;

}

p{
	margin: 1cm;
	text-align: left;
	color: #40403F  ;
	
}

