/*Jumbotron*/
.jumbotron {
	background-image: url('../img/jumbotron.jpg');
	background-size: cover;
	color: #00ace6;
	font-family: impact;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
	text-align: center;
	border-radius: 15px;
}

.jumbotron p {
	size: 90px;
}

/*Footer*/
.footer-top {
    padding: 60px 0;
    background: #333;
    text-align: left;
    color: #aaa;
}

/*icono cargando*/
#loading {
    display: none;
    text-align: center;
}

