/*Jumbotron*/
.jumbotron {
	background-image: url('../img/info.jpg');
	background-size: cover;
	color: #00ace6;
	font-family: impact;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
	text-align: right;
	border-radius: 15px;
}

.jumbotron p {
margin-right:15%;

}

.item h1 {
	text-align: center;
}

/*Footer*/
.footer-top {
    padding: 60px 0;
    background: #333;
    text-align: left;
    color: #aaa;
}