nav ul{
   list-style-type: none;
   text-align: center;
}
nav li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
nav li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
nav li a:hover{
   background-color: #333333;
   color: #ffffff;

}

#hora{
	background-color: #E3EC4C;
}

caption{
	font-size: 150%;
	padding: 10px;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

table th{
	background-color: black;
    color: white;
}


th, td {
    padding: 30px;
    text-align: center;
}

td
{
    border: 1px solid black;
}

#BBDD{
	display: none;
}

#LLMM{
	display: none;
}


#SSII{
	display: none;
}

#Programación{
	display: none;
}

#ED{
	display: none;
}

#FOL{
	display: none;
}

